* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-font:'Sansita Swashed',
    cursive;
  --secondary-font: 'Roboto Mono',
    monospace;
}

#dark {
  --primary-color: #1B1107;
  --secondary-color: #DCB288;
  --tertiary-color: #EFDFC5;
  --quaternary-color: #C7AC8F;
  --hover-color: #e69239;
  --text-color: #EAE4E4;
  --img-background-color: #1b1107;
}

#light {
  --secondary-color: #FDF5F3;
  --primary-color: #EAE4E4;
  --tertiary-color: #EFDFC5;
  --quaternary-color: #EEEADE;
  --hover-color: #FD5A5B;
  --text-color: #1E1E1E;
  --img-background-color: #1b1107;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

html,
body {
  font-family: sans-serif;
}

a.active {
  color: var(--hover-color);
}
.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--primary-font);
}

.sitename{
  letter-spacing: 0.15rem;
  text-shadow: 2px 2px var(--hover-color);
}

.header-border {
  border: 2px solid var(--text-color);
}

.line{
  border: 1.5px solid var(--text-color);
  height: 3rem;
}

#dark .recipe-card {
  background-color: #DCB288;
  color: black;
}

#light .recipe-card {
  background-color: #EAE4E4;
  border: 4px solid #c1c1c1;
  padding: 0;
}



#light .intro-text{
  color: white;
}

.img-bg {
  background-color: var(--img-background-color)
}

.landing-page{
  font-family: var(--secondary-font);
}

.landing-page .intro-text{
    font-family: var(--primary-font);
    letter-spacing: 0.05rem;
}

.search-input{
  font-family: var(--secondary-font);
}

.about-header{
  font-family: var(--primary-font);

}

.about-text{
  font-family: var(--secondary-font);
  font-family: 1rem
}

.recipe-card img {
  border-color: #dcb288;
}

.recipe-card button {
  background-color: #efdfc5;
}

.recipe-list {
  background-color: var(--primary-color);
}

.recipe-label{
  font-size: 1rem;
  font-family: var(--primary-font);
  letter-spacing: 0.1rem;
}

.landing-page {
  background-color: var(--primary-color);
  color: var(--text-color);
  /* font-family: var(--secondary-font); */
}

.list-and-pagination{
    background-color: var(--primary-color);
}

.hero-div {
  color: white;
}

.about-div {
  background-color: var(--primary-color);
}

.about-text{
  color: var(--text-color);
}

/* .dark-bg {
  background-image: url(../src/assets/page-images/AboutBgDark.jpeg);
}

.light-bg {
  background-image: url(../src/assets/page-images/AboutBgLight.jpeg);} */

.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.navbar{
  background-color: var(--primary-color);
  color: var(--text-color);
}

.app-team-members-div h2{
  font-family: var(--primary-font);
}

.app-team-members-div p {
  font-family: var(--secondary-font);
}

.atm-card{
  font-family: var(--secondary-font);
}

.atm-card .member-name{
  font-family: var(--secondary-font);
}

/* SortingList */

.sorting-btn {
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  letter-spacing: 0.05rem;
  background-color: var(--hover-color);
  color: var(--primary-color);
  border-radius: 2rem;
}

/* recipe-pop-up */
.recipe-pop-up {
  background-color: var(--text-color);
  color: var(--primary-color);
  overflow-y: scroll;
  padding: 1.5rem;
  position: absolute;
  z-index: 10;
}

.recipe-pop-up h2 {
  font-family: var(--primary-font);
  letter-spacing: 0.2rem;
}

.recipe-pop-up h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
  letter-spacing: 0.1rem;
  font-family: var(--secondary-font);
  color: var(--hover-color);
  font-size: 1.2rem;
}

.recipe-pop-up .group {
  margin: 1rem;
}

.recipe-pop-up p {
  font-family: var(--secondary-font);
  margin: 0.3rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  padding: 0.2rem 0.5rem;
}

.recipe-pop-up .mealType {
  display: flex;
}

.recipe-pop-up .mealtype-text {
  color: var(--text-color);
  background-color: var(--hover-color);
  padding: 0.75rem 1rem;
  letter-spacing: 0.1rem;
  /* border-radius: 50px; */
}

.recipe-pop-up a {
  font-family: var(--secondary-font);
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--hover-color);
}

.recipe-pop-up a:hover {
  color: var(--hover-color);
}

.vertical-scroll::-webkit-scrollbar {
  display: none;
}

.vertical-scroll::-webkit-scrollbar {
  display: none;
}

/* pagination */

.list-and-pagination {
  width: 95vw;
  margin: 0px auto;
  height: auto;
  margin-bottom: 10rem;
}

.paginationBtns {
  color: #1b1107;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0px auto;
  font-size: 1.1rem;
  font-family: var(--primary-font);
  background-color: #efdfc5;
}

.paginationBtns li {
  letter-spacing: 0.1rem;
  font-size: 16px;
}

.paginationBtns li a {
  cursor: pointer;
  display: block;
  padding: 0.75rem 1.2rem;
}

.paginationBtns li a:hover {
  background-color: var(--hover-color);
  color: black;
}

.paginationActive a {
  background-color: #dcb288;
  color: black;
}

@media screen and (max-width: 768px) {
  .paginationBtns li {
    font-size: 14px;
  }

  .paginationBtns li a {
    padding: 0.5rem 0.75rem;
  }

  .line{
    display: none;
  }
}


/* app team member  */

.app-team-members-div{
  background-color: var(--primary-color);
}

#light .intro-header , 
#light .intro{
  color: #1B1107;
}

/* atm-card : app team member card */

.atm-card{
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

#light .atm-card{
    border-color: #c1c1c1;
}

#dark .atm-card {
  border-color: var(--secondary-color);
}

.member-image{
  border-color: var(--secondary-color);
}

#dark .atm-card{
  background-color: #DCB288;
}

.member-details{
  background-color: var(--secondary-color);
}

#light .toggle-btn{
  background-color: var(--text-color);
  color: white;
  border: var(--primary-color);
}

#dark .toggle-btn{
  background-color: #DCB288;
  border-color: #1E1E1E;
}

#light .card-center,
#light .member-detail{
  background-color: var(--primary-color);
  border: var(--primary-color);
}

#dark .big-atm-card{
  color: #DCB288;
}

#light .big-atm-card{
    border-color: #c1c1c1;
    background-color: #EAE4E4;
  color: black;
}

.big-atm-card{
  color: var(--text-color);
  border-color: var(--secondary-color) ;
}
