* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#dark{
  --primary-color: #1B1107;
  --secondary-color: #DCB288;
  --tertiary-color: #EFDFC5;
  --quaternary-color: #C7AC8F;
  --hover-color: #e69239;
  --text-color: #EAE4E4;
  --img-background-color: #1b1107;
}

#light {
  --primary-color: #FDF5F3;
  --secondary-color: #EAE4E4;  
  --tertiary-color: #EFDFC5;
  --quaternary-color: #EEEADE;
  --hover-color:#FD5A5B;
  --text-color:#1E1E1E;
  --img-background-color: #1b1107;
}



html,
body {
  font-family: sans-serif;
}

.header{
  background-color: var(--primary-color);
  color: var(--text-color);
}

.header-border{
  border: 2px solid var(--text-color);
}

a.active {
  font-weight: bold;
  border-bottom: 2px solid var(--text-color);
}

#dark .recipe-card {
  background-color: #DCB288;
}

#light .recipe-card{
  background-color: #EAE4E4;
}

.img-bg {
  background-color: var(--img-background-color)
}

.recipe-card img {
  border-color: #dcb288;
}

.recipe-card button {
  background-color: #efdfc5;
}

.recipe-list{
  background-color: var(--primary-color);
}

.landing-page{
  background-color: var(--primary-color);
}

.hero-div{
    color: white;
}

.about-div{
  background-color: var(--primary-color);
}

/* team member div */

.atm-div{
  border: 2px solid violet;
  background-color: var(--secondary-color);
    border: var(--secondary-color);
}

.tm-card{
  background-color: var(--secondary-color);
  border: var(--secondary-color);
}


/* #light .hero-div{
  opacity: 0.6;
}

#dark .hero-div {
  opacity: 0.9;
} */


.footer{
  background-color: var(--primary-color);
  color: var(--text-color);
}





/* SortingList */

.sorting-list {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: var(--text-color)
}

.dropdown {
  color: #1b1107;
  background-color: #dcb288;
  width: fit-content;
  letter-spacing: 0.2rem;
}

/* recipe-pop-up */

.recipe-pop-up {
  background-color: var(--text-color);
  color: var(--primary-color);
  overflow-y: scroll;
  padding: 1.5rem;
  position: absolute;
  z-index: 10;
}

.recipe-pop-up h2 {
  font-family: var(--primary-font);
  letter-spacing: 0.2rem;
}

.recipe-pop-up h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
  letter-spacing: 0.1rem;
  font-family: var(--secondary-font);
  color: var(--hover-color);
  font-size: 1.2rem;
}

.recipe-pop-up .group {
  margin: 1rem;
}

.recipe-pop-up p {
  font-family: var(--secondary-font);
  margin: 0.3rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  padding: 0.2rem 0.5rem;
}

.recipe-pop-up .mealType {
  display: flex;
}

.recipe-pop-up .mealtype-text {
  color: var(--text-color);
  background-color: var(--hover-color);
  padding: 0.75rem 1rem;
  letter-spacing: 0.1rem;
  /* border-radius: 50px; */
}

.recipe-pop-up a {
  font-family: var(--secondary-font);
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--hover-color);
}

.recipe-pop-up a:hover {
  color: var(--hover-color);
}

.vertical-scroll::-webkit-scrollbar {
  display: none;
}


/* pagination */

.list-and-pagination {
  width: 95vw;
  margin: 0px auto;
  height: auto;
  margin-bottom: 10rem;
}

.paginationBtns {
  color: #f1f3f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0px auto;
  font-size: 1.1rem;
  font-family: var(--primary-font);
  background-color: #232931;
}

.paginationBtns li {
  letter-spacing: 0.1rem;
  border: none;
}

.paginationBtns li a {
  cursor: pointer;
  display: block;
  padding: 0.75rem 1.2rem;
}

.paginationBtns li a:hover {
  background-color: #f1f3f8;
  color: black;
}

.paginationActive a {
  background-color: var(--hover-color);
  color: black;
}

@media only screen and (max-width: 860px) {
  .recipe-pop-up h2 {
    font-size: 1.3rem;
  }

  .recipe-pop-up .topic {
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }
}
